.vscode
.env*
!.env.example
.DS_Store
.idea
venv/
.ipynb_checkpoints
.__pycache__
__pycache__
*.log
tmp*
temp*
private*
dist/
nohup*
log/
**/logs/*
.trash/
runs
logs
*.egg-info/*
build/*
**/cache/**
*.pdf
*.csv
site/*
